.daterange {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

@media screen and (max-width: 1000px) {
  .daterange {
    grid-template-columns: 1fr;
  }
  .daterange *:last-child {
    grid-row: 1;
  }
}


