.sidenav li,
.sidenav li span {
  display: flex;
  align-items: center;
}

.sidenav li {
  gap: var(--gap-s);
}

.sidenav li span {
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: var(--color-4);
  border-radius: 50%;
  margin: 0.25rem 0;
}

.sidenav li a {
  flex: 1;
  font-size: 1.125rem;
  text-decoration: none;
  color: var(--color-1);
}

.sidenav li:hover span {
  background: var(--color-3);
}

@media screen and (max-width: 700px) {
  .sidenav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sidenav li a {
    font-size: 0.875rem;
  }
}
